
.Item-block{
  width: 280px;
  height: 297px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.Item-image{
  width: 280px;
  height: 210px;
  background-color: #8a2be2;
  border-radius: 10px;

}
.Item-title{
  width: 280px;
  height: 20px;
  background-color: #4F646F;
  border-radius: 5px;


}
.Item-text{
  width: 280px;
  height: 50px;
  background-color: #F4FAFF;


}
.App-header{
  background-color: #DEE7E7;
  width: 100%;
  height:100%;

}